# Rust specific ignores
/target/
/Cargo.lock
**/*.rs.bk

# JetBrains specific ignores
.idea/
!.idea/workspace.xml
*.iml
.gradle
build/
src/main/gen
src/main/resources/templates.list
src/main/resources/gitignore/*
src/main/resources/toptal/*

# OS specific ignores
# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Linux specific
*~
